<!-- Form dish start -->
<%= form_with(model: @dish, local: true) do |f| %>
<!-- Form dish end -->

  <!-- Label and input for name start -->
  <div class="form-group">
    <%= f.label :name %>

    <!-- Input for name start -->
    <%= f.text_field :name, class: "form-control" %>
    <!-- Input for name end -->
  </div>
  <!-- Label and input for name end -->

  <!-- Label and input for cuisine_id start -->
  <div class="form-group">
    <%= f.label :cuisine_id %>

    <!-- Input for cuisine_id start -->
    <%= f.text_field :cuisine_id, class: "form-control" %>
    <!-- Input for cuisine_id end -->
  </div>
  <!-- Label and input for cuisine_id end -->

  <!-- Label and input for venue_id start -->
  <!-- Input for venue_id start -->
  <%= f.hidden_field :venue_id, value: @venue.id %>
  <!-- Input for venue_id end -->
  <!-- Label and input for venue_id end -->

  <!-- Label and input for loved start -->
  <div class="form-check">
    <!-- Input for loved start -->
    <%= f.check_box :loved, class: "form-check-input" %>
    <!-- Input for loved end -->
    <%= f.label :loved, class: "form-check-label" %>
  </div>
  <!-- Label and input for loved end -->

  <!-- Label and input for user_id start -->
  <div class="form-group">
    <%= f.label :user_id %>

    <!-- Input for user_id start -->
    <%= f.text_field :user_id, class: "form-control" %>
    <!-- Input for user_id end -->
  </div>
  <!-- Label and input for user_id end -->

  <%= f.submit "Create dish", class: "btn btn-block btn-outline-secondary" %>
<% end %>
